[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile"
watchPatterns = ["src/**", "pom.xml"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
numReplicas = 1
